<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Posts, Vue + REST</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>Posts, Vue + REST</h1>

  <div id="app">
    <button v-on:click="cleanList">Clean the list</button>

    <input v-model.lazy="userId" placeholder="User Id" type="number">
    <button v-on:click="getByUserId(userId)">Get By UserId</button>

    <ul v-if="posts.length">
      <li v-for="post in posts">
        UserId {{post.userId}} : {{post.title}}
      </li>
    </ul>
    <div v-else>No such posts</div>

    <ul v-if="errors && errors.length">
      <li v-for="error of errors">
        {{error.message}}
      </li>
    </ul>
  </div>

  <script src="bundle.js"></script>
</body>

</html>